.page-heignt {
    height: 100vh;
}

.navbar-showing{
    display: none;
}

.show-bar{
    display: none;
}

.corsor{
    cursor: pointer;
}

.message-res-padding{
    padding: 100px;
}




 .box-res{
        width: 50px;
        height: 50px;
    }

.nav-res:hover{
    cursor: pointer;
    color: rgb(255, 128, 0);
}

@media  screen and (max-width: 767px) {
    .profile-about-res{
        width: 100px;
    }

    

    .nav-res{
        display: none;
    }


    .show-bar{
        display: block;
    }


    .service-height{
        height: 200vh;
    }
   
}




@media screen and (max-width: 1024px) {
    .profile-about-res{
        width: 200px;
    }

    .message-res-padding{
        padding: 0;
    }
   
    
}
@media screen and (max-width: 1200px) {
    .profile-about-res{
        width: 200px;
        margin-bottom: 40px;
    }

    .message-res-padding{
        margin: 100px 0;
    }

    

    

    

    .about-res{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .message-res{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
 
   
    
}
@media screen and (max-width: 1400px) {
    .profile-about-res{
        width: 300px;
    }

  
    
}

@media screen and (min-width: 1400px) {
    .box-res{
        width: 500px;
        height: 300px;
    }
    
}


    .about-res-margin{
        margin: 100px 0;
    }



