*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-showing{
    display: none;
}

.about-res{
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: black;
}

.corsor{
    cursor: pointer;
}

.navshow{
    color: white;
    
}

.contact-res input{
    width: 300px;
}

.contact-res{
    display: flex;
    flex-direction: column;
}

.contact-res h1{
    text-align: center;
}

.contact-res p{
    text-align: center;
}

.box{
    background-color: rgb(45, 45, 45);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    color: white;
}

.icon{
    font-size: 30px;
}


nav a:hover{
    color: rgb(255, 175, 3);
}

.nav-res{
    display: none;
}

@media screen and (min-width: 768px) {
    .show-bar{
        display: none;
    }

    .home-res .profile{
        width: 300px;
        height: 300px;
    }

    .home-res h1{
        font-size: 50px;
    }

    .home-res p{
        font-size: 20px;
    }

    .icon{
        font-size:50px ;
    }


    .nav-res{
        display: block;
    }

    .about-res img{
        width: 250px;
    }

    .about-res h1{
        font-size: 50px;
        text-align: center;
    }

    .about-res p{
        font-size: 20px;
        text-align: center;

    }

    .about-res h5{
        font-size: 25px;
    }

    .service-res h1{
        font-size: 50px;
    }

    .service-res p{
        font-size: 20px;
    }

    .service-res h5{
        font-size: 25px;
    }

    .box{
        width: 200px;
        height: 200px;
    }

    .contact-res h1{
        font-size: 50px; 
    }

    .contact-res p{
        font-size: 20px;
    }

    .contact-res input{
        width: 500px;
    }

}


@media screen and (min-width: 1200px) {
    .show-bar{
        display: none;
    }

    .home-res .profile{
        width: 200px;
        height: 200px;
    }

    .home-res h1{
        font-size: 50px;
    }

    .home-res p{
        font-size: 20px;
    }

    .icon{
        font-size:50px ;
    }


    .nav-res{
        display: block;
    }

    .about-res img{
        width: 250px;
    }

    .about-res h1{
        font-size: 50px;
        text-align: start;
    }

   

    .about-res p{
        font-size: 20px;
        text-align: start;
    }

    .about-res{
        display: flex;
        flex-direction: row;
    }

   

    .about-res h5{
        font-size: 25px;
    }

    .service-res h1{
        font-size: 50px;
    }

    .service-res p{
        font-size: 20px;
    }

    .service-res h5{
        font-size: 25px;
    }

    .box{
        width: 200px;
        height: 200px;
    }

    .contact-res h1{
        font-size: 50px; 
    }

    .contact-res p{
        font-size: 20px;
    }

    .contact-res input{
        width: 600px;
    }

    .contact-res{
        display: flex;
        flex-direction: row;
    }
    
    .contact-res h1{
        text-align: start;
    }
    
    .contact-res p{
        text-align: start;
    }

    .contact-margin{
        margin-right:30px ;
    }

}